<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avtotest</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="register-body">
    
    <header class="site-header header">
        <div class="container">
            <div class="site-header__inner">
                <h1 class="header__title">Avtotest</h1>
            </div>
        </div>
    </header>
    
    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-info">
                    <h2>Login</h2>
                </div>
                <div class="hero-inner">
                    <form class="hero-inner__form form js-form" autocomplete="off">
                          <div class="group">      
                            <input class="form-input__email form-input border-transparent" type="email"  aria-label="Emailingizni kiriting ... " name="email" id="email">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="email__label">Email</label>
                          </div>
                          <div class="group">      
                            <input class="form-input__password form-input border-transparent" type="password"  aria-label="Parolingizni kiriting ... " name="password" id="password">
                            <span class="highlight"></span>
                            <span class="bar"></span>   
                            <label class="password__label">Parol</label>
                          </div>
                        <button class="form-btn border-transparent btn btn-hover" type="submit">Yuborish</button>
                        <div class="form-link__box">
                            <a class="form-link" href="/register">Sizda akkaunt yo'qmi ?</a>
                        </div>
                    </form>
                </div>            
            </div>
        </section>
    </main>
    

    <script src="../JavaScript/types.js"></script>
    <script src="../JavaScript/utils.js"></script>
    <script src="../JavaScript/request.js"></script>
    <script src="../JavaScript/login.js"></script>
</body>
</html>